<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
	version="6.0">

	<!-- Filter bảo vệ đăng nhập & quyền -->
	<filter>
		<filter-name>securityFilter</filter-name>
		<filter-class>filter.SecurityFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>securityFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- SiteMesh 3 -->
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>org.sitemesh.config.ConfigurableSiteMeshFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Trang lỗi -->
	<error-page>
		<error-code>403</error-code>
		<location>/views/403.jsp</location>
	</error-page>

	<!-- (tuỳ chọn) Welcome -->
	<!-- <welcome-file-list> <welcome-file>login</welcome-file> </welcome-file-list> -->
</web-app>